<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Used for logging purposes-->
    <add key="AppName" value="Test"/>
    <!-- Provide a single item to copy or a directory-->
    <add key="SourceItems" value="C:\Users\aatur\Downloads\TestScript.ps1"/>
    <!-- Do you need to copy files to the target computer? True or False-->
    <add key="CopySourceItems" value="False"/>
    <!-- Options: Install, Repair, Uninstall, RunScript-->
    <add key="Mode" value="RunScript"/>
    <!-- Main logic file (.ps1, .bat, .cmd) or install file (.exe, .msi, .msp)-->
    <add key="File" value="TestScript.ps1"/>
    <!-- Arguments for the main logic file. Leave blank if running a .ps1, .bat, or .cmd-->
    <add key="Arguments" value=""/>
    <!--localhost, comma-separated list of PC names, or file path to .txt file containing list of PC names-->
    <add key="TargetComputers" value="localhost"/>
    <!-- Timeout in milliseconds (1000 = 1 second). Default is one hour-->
    <add key="Timeout" value="3600000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>